<%- include("header") -%>

<div class="box" id="heading">
    <h1><%=dayH%></h1>
</div>

<div class="box">

    <% for(var i=0;i< newItemsH.length;i++) {%>
    <div class="item">
        <input type="checkbox">
        <p><%=newItemsH[i]%></p>
    </div>
    <% } %>
    <form class="item" action="/" method="post">
        <input type="text" name="newTodo" autocomplete="off" placeholder="New Item">
        <button type="submit" name="list" value=<%=dayH%>>+</button>
    </form>
</div>
<%- include("footer") -%>